---
http_interactions:
- request:
    method: post
    uri: https://api.engagespark.com/v1/sms/phonenumber
    body:
      encoding: UTF-8
      string: '{"orgId":[org_id],"to":"[mobile]","from":null,"message":"Hello via
        engageSPARK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token [token]
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/jsonl; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": "",
          "messageId": "SMS20200130T040905-590-[org_id]",
          "estimateParts": 1,
          "estimateMicro": 20000,
          "estimate": "0.02",
          "deliveryDeadline": "2020-01-31T04:09:05.194848729Z",
          "contactId": 0,
          "to": "[mobile]",
          "message": "Hello via engageSPARK"
        }
  recorded_at: Thu, 30 Jan 2020 04:09:05 GMT
recorded_with: VCR 5.0.0
